<style>
  label { text-align: right; }
</style>
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">Create register entry</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="entryForm" ng-submit="save()" role="form">
      <div class="row form-group">

          <label class="col-sm-2 form-control-label" for="number">Number</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="entryData.number" id="number"/>
          </div>
          <label class="col-sm-2 form-control-label" for="date">Date</label>
          <div class="col-sm-4">
            <input type="date" class="form-control" ng-model="entryData.date" id="date"/>
          </div>
          <!--
          <div class="col-sm-2">
            empty9
          </div>
-->
          <div class="col-sm-12">
            <!-- Why do we need this?  Without it, the "Name" label is on the line above. -->
          </div>
 
          <label class="col-sm-2 form-control-label" for="name">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="entryData.name" id="name"/>
          </div>
          <label class="col-sm-2 form-control-label" for="description">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="entryData.description" id="description"/>
          </div>

          <label class="col-sm-1 form-control-label" for="debit">Debit</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="entryData.debit" id="debit"/>
          </div>
          <label class="col-sm-1 form-control-label" for="credit">Credit</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="entryData.credit" id="credit"/>
          </div>

          <label class="col-sm-2 form-control-label" for="cleared">Cleared</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" ng-model="entryData.cleared" id="cleared"/>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-secondary" type="submit">Save</button>
          </div>

      </div>
    </form>
  </div>
  <!--
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()"  >Save  </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
  -->
</div>
