<div>
  <table class="table">
    <thead>
      <tr>
        <th>User   </th>
        <th ng-show="logged_in">Account</th>
        <th ng-show="accounted">Clear Code</th>
        <th ng-show="accounted">Balance</th>
        <th ng-show="accounted">Cleared</th>
        <th ng-show="accounted" ng-click="toggleFilt()">Display</th>
        <th ng-show="accounted">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select id="user" name="login_opt">
            <option ng-show="!logged_in" ng-click="openLoginForm()" value="login" ng-selected="!logged_in">Log In          </option>
            <option ng-show="!logged_in" ng-click="openCreateUserForm()" value="create">Create New User </option>
            <option ng-show=" logged_in"                     value="user"   ng-selected="logged_in">{{username}} </option>
            <option ng-show=" logged_in" ng-click="logout()" value="logout">Log Out         </option>
          </select>
        </td>
        <td ng-show="logged_in">
          <select id="account" name="account" ng-model="accountSelected">
            <option ng-repeat="acct in accountData" ng-click="selectAccount()" value="{{acct.id}}">{{acct.acctname}} </option>
            <option ng-click="openCreateAccountForm()" value="add">Create Account </option>
          </select>
        </td>
        <td ng-show="accounted">
          <select id="clearcode" name="clearcode">
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </td>
        <td ng-show="accounted">{{misc.balance | currency}}</td>
        <td ng-show="accounted">{{cleared      | currency}}</td>
        <td ng-show="accounted" ng-click="toggleFilt()"><button><label class="fa">{{filterText}}</label></button></td>
        <td ng-show="accounted">
          <button ng-click="openEntryForm()">
            <label class="fa">Add Entry</label>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <table ng-show="accounted" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Line</th>
        <th>Number</th>
        <th>Date</th>
        <th>Name</th>
        <th>Description</th>
        <th>Cleared</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in entries | filter:{cleared:''}:filterFunc">
        <td>{{entry.id+1}}</td>
        <td>{{entry.checkno}}</td>
        <td>{{entry.date}}</td>
        <td>{{entry.name}}</td>
        <td>{{entry.desc}}</td>
        <td>{{entry.cleared}}</td>
        <td class="right">{{(entry.amount<0) ? (entry.amount | currency) : ''}}</td>
        <td class="right">{{(entry.amount>0) ? (entry.amount | currency) : ''}}</td>
        <td>{{entry.balance | currency}}</td>
        <!--
        -->
      </tr>
    </tbody>
  </table>
</div>
