<div>
  <button>
    <label class="fa fa-caret-down"> Larry Fenske</label>
  </button>
  <button>
    <label class="fa fa-caret-down"> acct: 123456789</label>
  </button>
  <button ng-click="openEntryForm()">
    <label>Add Entry</label>
  </button>
  <table class="table">
    <thead>
      <tr>
        <th>Balance</th>
        <th>Cleared</th>
        <th ng-click="toggleFilt()">Display</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{misc.balance | currency}}</td>
        <td>{{cleared      | currency}}</td>
        <td ng-click="toggleFilt()"><button><label>{{filterText}}</label></button></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Line</th>
        <th>Number</th>
        <th>Date</th>
        <th>Name</th>
        <th>Description</th>
        <th>Cleared</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in entries | filter:{cleared:''}:filterFunc">
        <td>{{entry.id+1}}</td>
        <td>{{entry.checkno}}</td>
        <td>{{entry.date}}</td>
        <td>{{entry.name}}</td>
        <td>{{entry.desc}}</td>
        <td>{{entry.cleared}}</td>
        <td class="right">{{(entry.amount<0) ? (entry.amount | currency) : ''}}</td>
        <td class="right">{{(entry.amount>0) ? (entry.amount | currency) : ''}}</td>
        <td>{{entry.balance | currency}}</td>
        <!--
        -->
      </tr>
    </tbody>
  </table>
</div>
